<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870254078129-cdki356ooclj4qhk7qn86puaqdgbhua8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870254078129-cdki356ooclj4qhk7qn86puaqdgbhua8</string>
	<key>API_KEY</key>
	<string>AIzaSyC5Gbaf-FdLLbdKOW7R4kWsvX95Qs6K_-k</string>
	<key>GCM_SENDER_ID</key>
	<string>870254078129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-rise-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-rise-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870254078129:ios:ba5c3fed284af9988ada90</string>
</dict>
</plist>